[color]
  ui = auto
[color "diff"]
  whitespace = red reverse
[user]
  name = Damien Toma
  email = damientoma.pro@gmail.com
[core]
  excludesfile = $HOME/.gitignore_global
  editor = nano
[push]
  default = current
[alias]
  st = status -s
